.navlinks a.active{
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
    background-image: linear-gradient(to left, var(--tw-gradient-stops));
    --tw-gradient-from: #fff var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-to: #dbeafe var(--tw-gradient-to-position);
    border-left-width: 4px;
    --tw-border-opacity: 1;
    border-color: rgb(59 130 246 / var(--tw-border-opacity));
}

